@*model TheBugTracker.Models.Company*@

@model TheBugTracker.Models.ViewModels.DashboardViewModel
@using Microsoft.AspNetCore.Identity
@using TheBugTracker.Services.Interfaces
@using TheBugTracker.Models.Enums

@inject UserManager<BTUser> UserManager
@inject IBTRolesService RolesService

@{
  ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <h1>@Model.Company.Name</h1>
  <a asp-action="Create">Create New</a>
</p>

