@{
  //Layout = null;
  ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
      <h1 class="display-4">Welcome</h1>
      <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
  </div>*@
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>CodedByWells | Four card feature section</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="/css/cleanCard.css">

</head>

<body class="originalBody" id="originalBody">

  <div id="menu">
    <div id="menu-bar" onclick="menuOnClick()">
      <div id="bar1" class="bar"></div>
      <div id="bar2" class="bar"></div>
      <div id="bar3" class="bar"></div>
    </div>
    <nav class="nav" id="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Company</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Tickets</a></li>
        <li><a href="#">Notifications</a></li>
      </ul>
    </nav>
  </div>

  <div class="menu-bg" id="menu-bg"></div>



  <div class="header">
    <h1>Track and Annihilate Bugs</h1>
    <h1>DragonFly Bugtracker</h1>

    <p>Get The Job Done...</p>
  </div>
  <div class="row1-container">
    <div class="box box-down cyan">
      <h2>Company</h2>
      <p>View Company Information</p>
      <hr />
      <p>Monitor Company Pogress</p>
      <hr />
      <p>View Announcement Board</p>


      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>

    <div class="box red">
      <h2>Dashboard</h2>
      <p>Main Dashboard </p>
      <hr />
      <p>Analytics</p>
      <hr />
      <p>Team Management</p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
    </div>

    <div class="box box-down blue">
      <h2>Projects</h2>
      <p>Manage and create projects </p>
      <hr />
      <p>Assign Project Manager</p>
      <hr />
      <p>View Project Activity</p>
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h2>Tickets</h2>
      <p>Manage and Create Tickets</p>
      <hr />
      <p>Track Ticket Activity</p>
      <hr />
      <p>Ticket Communication</p>



      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
    </div>
  </div>
  <footer>
    <p class="attribution">
      CodedByWells <a href="#">Portfolio</a>.
    </p>
  </footer>
  <script src="/js/site.js"></script>
</body>


</html>





